@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Source+Sans+3:wght@300;400;600;700&display=swap');

:root{
    --maroon:#9c1c34;
    --gold:#fcac34;
    --light:#ececec;
    --dark:#3a3939;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    background:var(--light);
    font-family:"Source Sans 3", sans-serif;
    display:flex;
    flex-direction:column;
}

header{
    justify-content:space-between;
    background:#9c1c34;
    padding:0 22px;
    height:100%;
    align-items: center;
}

.menu-btn{
    background:none;
    border:none;
    font-size:3rem;
    cursor:pointer;
    color:#222;
    float: right;
    padding-top: 7vw;
    padding-right: 4.5vw;
    position: relative;
    color: #fcac34;
    transform: scaleX(1.2);

}

.index {
    background-color: #ececec;
    justify-items: right;
    float: right;
}

#index {
    justify-items: right;
    float: right;
    color: black;
}

main{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    padding:0 1.5rem 3rem;
}

.crest{
    width:25vw;
    margin-bottom:1rem;
    margin-top:10rem;
}

h1{
    font-family:"Cal Sans", sans-serif;
    font-size:3.5rem;
    color:#000;
    margin-bottom:.25rem;
}

h2{
    font-size:2.5rem;
    font-weight:400;
    color:var(--maroon);
    margin-bottom:2rem;
}

h3{
    font-size:2.5rem;
    font-weight:800;
}

h4{
    font-size:2.5rem;
    font-weight:400;
    padding-bottom: 5vw;
}

h5{
    font-size:1.75rem;
    font-weight:400;
    margin-top:1rem;
    margin-bottom: 1rem;
}

hr{
    height: 0.5vw;
    background-color: var(--dark);
    margin-bottom: 3vw;
    justify-self: center;
    width: 110%;
}

ul{
    font-size:2rem;
    line-height:1.5;
    color:#444;
    margin-bottom:40px;
    text-align:justify;
}

ol{
    font-size:2rem;
    line-height:1.5;
    color:#444;
    margin-bottom:40px;
    text-align:justify;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  font-size: 2rem;
}

.sltimg {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  column-gap: auto;
  text-justify: none;
}

.grid-item {
  text-align: left;
}

.menu-grid{
    width:100%;
    max-width:700px;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:1.8rem 1rem;
}

.menu-card{
    text-decoration:none;
    color:#555;
    display:flex;
    flex-direction:column;
    align-items:center;
    transition:.3s;
}

.menu-card:hover{
    transform:translateY(-4px);
}

.gold .icon-circle{
    border:3px solid var(--gold);
}

.gold .icon-circle::before,
.gold .icon-circle::after{
    background:var(--gold);
}

.maroon .icon-circle{
    border:3px solid var(--maroon);
}

.maroon .icon-circle::before,
.maroon .icon-circle::after{
    background:var(--maroon);
}

.icon-circle{
    width:90px;
    height:90px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f9f9f9;
    transition:all .25s ease;
}

.icon-circle svg{
    width:42px;
    height:42px;
    transition:all .25s ease;
}

.menu-dropdown.active .icon-circle{

    transform:scale(1.08);

    box-shadow:
        0 12px 30px rgba(0,0,0,.18);

}

.menu-dropdown.active .icon-circle svg{

    transform:scale(1.12);

}

.menu-card:active .icon-circle{

    transform:scale(.96);

}

.gold{
    color:var(--gold);
}

.maroon{
    color:var(--maroon);
}

.menu-card span{
    padding-top: 10px;
    font-size:1.25rem;
    text-align:center;
}

footer{
    height: 5vh;
    background:
        repeating-linear-gradient(
            90deg,
            var(--dark) 0 12px,
            #2d2d2d 12px 24px
        );
    border-top:0.5vw solid var(--gold);
}

@media (max-width:600px){

    .menu-grid{
        grid-template-columns:repeat(2,1fr);
    }

    h1{
        font-size:2rem;
    }

    h2{
        font-size:1.7rem;
    }

    .crest{
        width:40%;
        margin-bottom:1rem;
    }
}


.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  transition: 0.5s;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.dropdown {
  float: center;
  overflow: hidden;
  transition: 1s;
}

.dropbtn {
  font-size: 2rem;  
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn:click {
  color: white;
  transition: 0.4s;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s;
}

.dropdown-content {
  transition: 0.4s;
  display: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 0.15vh;
}

.dropdown-content a {
  float: center;
  transition: 0.4s;
  color: #fcac34;
  padding: 12px 16px;
  font-size: 25px;
  text-decoration: none;
  display: block;
  text-align: center;
}

 .dropdown-content a.active{
  float: none;
  transition: 0.4s;
  color: black;
  padding: 12px 16px;
  text-decoration: underline;
  text-decoration-color: #fcac34;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.25em;
  display: block;
  text-align: left;
}

.dropdown-content a:click {
  background-color: #fcac34;
}

.dropdown:hover .dropdown-content {
  transition: 0.4s;
  display: block;
}

.menu-dropdown{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.menu-dropdownn span{
    font-size: 1.25rem;
}

.dropdown-toggle{
    background:none;
    border:none;
    cursor:pointer;
    font:inherit;
}

.mini-dropdown{
    display:none;
    width:190px;
    position:absolute;
    top:110%;
    background:#fff;
    border-radius:16px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    margin-top:.75rem;
    overflow:hidden;
    animation:fadeDown .25s ease;
    z-index:10;
}

.mini-dropdown a{
    display:block;
    padding:.75rem 1rem;
    color:#555;
    text-decoration:none;
    font-size:1.75rem;
    border-bottom:1px solid #eee;
}

.mini-dropdown a:last-child{
    border-bottom:none;
}

.mini-dropdown a:hover{
    background:var(--gold);
    color:white;
}

.menu-dropdown.active .mini-dropdown{
    display:block;
    animation:drop .4s ease-out;
}

@keyframes drop{
    from{
        opacity:0;
        transform:translate(0,-10px);
    }
    to{
        opacity:1;
        transform:translate(0,0);
    }
}

.content-page{
    display:block;
    padding:0;
    text-align:left;
    background:#ececec;
}

.hero-image{
    width:100%;
    display:block;
    object-fit:cover;
    max-height:40vw;
}

.timetable{
    width:100%;
    display:block;
    object-fit:cover;
}


.page-content{
    max-width:60%;
    margin:0 auto;
    padding:40px 30px 60px;
}

.page-title{
    font-family:"Source Sans 3", sans-serif;
    font-size:3rem;
    font-weight:700;
    text-align:center;
    color:#111;
    margin-bottom:8px;
    text-decoration: underline;
    text-decoration-color: #fcac34;
    text-decoration-thickness: 3px;
}

.page-content p{
    font-size:2rem;
    line-height:1.5;
    color:#444;
    margin-bottom:40px;
    text-align:justify;
}

.content-image{
    display:block;
    width:100%;
    max-width:700px;
    margin:0 auto 35px;
    height: auto;
}

@media (max-width:700px){

    .page-content{
        padding:30px 18px 50px;
    }

    .page-title{
        font-size:1.8rem;
    }

}